{% extends "base.html" %}
{% load static %}
{% block title %} DietAI | Home {% endblock %}
{% block content %}
    <!-- Sign Up Form -->
        <div id="get-started" class="py-4" style="background-color: #d8e6db;">
            <div class="container">
                <div class="row">
                    <div class="col mr-4">
                        <h2 class="my-4"> Yes, I want To Eat Healthy</h2>
                        <img src="{% static 'webapp/images/yam_porridge.jpg' %}" width=80% class="border border-success rounded" />
                        <p class='my-4'>
                            A balanced diet gives your body the nutrients it needs to function correctly.
                            To get the nutrition you need, and keep your body in top notch condition, you need
                            to analyze the diet information of your meal to ascertain its status.
                        </p>

                    </div>
                    <div class="col border border-success rounded bg-light m-4 p-4">
                        <span id="registration-header" style="color:#058438; font-weight:bold;">Get Started by uploading a photo of your meal.</span>
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#basicExampleModal">
                            Get Started
                        </button>
                        <hr/>

                        <ul class="list-group">
                          <li class="list-group-item"><b>Analysis of your meal</b></li>
                          <li class="list-group-item list-group-item-primary">Food class: <span class="label-values">{{name}}</span> </li>
                          <li class="list-group-item list-group-item-success">Diet: <span class="label-values">{{balanced}}</span> </li>
                          <li class="list-group-item list-group-item-secondary">Description: <span class="label-values">{{description}}</span> </li>
                          <li class="list-group-item list-group-item-warning">Complement: <span class="label-values">{{complement}}</span></li>
                          <li class="list-group-item list-group-item-danger">Disease Condition: <span class="label-values">{{disease}}</span></li>
                          <li class="list-group-item list-group-item-info">Additional Information: <span class="label-values">{{calories}}</span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of signup -->

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Getting started towards a healthier lifestyle.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form method="post" action="{% url 'upload_photo' %}" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="modal-body">

      <!-- activity level and disease condition -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="activity">Activity Level</label>
                <select name="activity" class="form-control" required>
                    <option>choose one</option>
                    <option value="Sedentary">Sedentary</option>
                    <option value="Moderately Active">Moderately Active</option>
                    <option value="Active">Active</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="age">Disease Condition</label>
                <select name="disease" class="form-control">
                    <option value="null">optional</option>
                    <option value="DBM">Diabetes Mellitus</option>
                    <option value="CKD">Chronic Kidney Disease</option>
                    <option value="TBC">Tuberculosis</option>
                </select>
            </div>
        </div>

        <!-- age and height -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <select name="category" class="form-control" required>
                    <option>Select category</option>
                    <option value="Build Up">I want to add weight</option>
                    <option value="Maintenance">I want to maintain my weight</option>
                    <option value="Reducing">I want to reduce my weight</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="height">Height(ft)</label>
                <input type="number" class="form-control" id="height" name="height" required/>
            </div>
        </div>

        <!-- Gender  and age -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" required>
                    <option>Select gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age"/>
            </div>
        </div>

        <!-- upload food -->
        <div class="form-group">
            <label for="photo">Image of Food</label>
            <input type="file" class="form-control" name="photo" id="photo" required/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

