{% extends "base.html" %}
{% load static %}
{% block title %} Balanced Foodie | Home {% endblock %}
{% block content %}
    <!-- Sign Up Form -->
        <div id="get-started" class="py-4" style="background-color: #d8e6db;">
            <div class="container">
                <div class="row">
                    <div class="col mr-4">
                        <h2 class="my-4"> Yes, I want To Eat Healthy</h2>
                        <img src="{% static 'webapp/images/yam_porridge.jpg' %}" width=80% class="border border-success rounded" />
                        <p class='my-4'>
                            A balanced diet gives your body the nutrients it needs to function correctly.
                            To get the nutrition you need, and keep your body in top notch condition, you need
                            to analyze the diet information of your meal to ascertain its status.
                        </p>

                    </div>
                    <div class="col border border-success rounded bg-light m-4 p-4">
                        <span id="registration-header" style="color:#058438; font-weight:bold;">Get Started by uploading a photo of your meal.</span>
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#basicExampleModal">
                            Get Started
                        </button>
                        <hr/>

                        <ul class="list-group">
                          <li class="list-group-item">Analysis of your meal</li>
                          <li class="list-group-item list-group-item-primary">Food class: <span style="color:maroon">{{name}}</span> </li>
                          <li class="list-group-item list-group-item-success">Balanced Diet: <span style="color:maroon">{{balanced}}</span> </li>
                          <li class="list-group-item list-group-item-danger">Missing Nutrients: <span style="color:maroon">{{absent}}</span></li>
                          <li class="list-group-item list-group-item-info">Additional Information: <span style="color:maroon">{{calories}}</span></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- end of signup -->

<!-- Modal -->
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Getting started towards a healthier lifestyle.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form method="post" action="foodie/upload_photo/" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="modal-body">

      <!-- activity level -->
        <div class="form-group">
            <label for="activity">Activity Level</label>
                <select name="activity" class="form-control" required>
                    <option>choose one</option>
                    <option value="Sedentary">Sedentary</option>
                    <option value="Moderately Active">Moderately Active</option>
                    <option value="Active">Active</option>
                </select>
        </div>

        <!-- age and height -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <select name="category" class="form-control" required>
                    <option>Select category</option>
                    <option value="Build Up">I want to add weight</option>
                    <option value="Maintenance">I want to maintain my weight</option>
                    <option value="Reducing">I want to reduce my weight</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="height">Height(ft)</label>
                <input type="number" class="form-control" id="height" name="height" required/>
            </div>
        </div>

        <!-- Gender  and age -->
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="gender">Gender</label>
                <select name="gender" class="form-control" required>
                    <option>Select gender</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="age">Age</label>
                <input type="number" class="form-control" id="age" name="age"/>
            </div>
        </div>

        <!-- upload food -->
        <div class="form-group">
            <label for="photo">Image of Food</label>
            <input type="file" class="form-control" name="photo" id="photo" required/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
{% endblock %}

